html, body { margin: 0; padding: 0; }
.header_container {
    width: 100%;
    height: 150px;
    background: linear-gradient(90deg, #870000, #190A05);
}
.footer_container {
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, #870000, #190A05);
}
